apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd

data:
  service.webhook.es: |
      url: https://my-observability-project-c8cf0b.es.us-east-1.aws.elastic.cloud:443/portals-glow-cicd/_doc
      method: POST
      headers:
        - name: Content-Type
          value: application/json
        - name: Authorization
          value: ApiKey RkVwQS01c0JWOVN2Q3RQQ0FPOXk6WmhIQ0ZLLVlUOXNybGE3eFFkdHpqQQ==

  template.es: |
      webhook:
        es:
          method: POST
          body: |
            {{- $timestamp := call .time.Now -}}
            {{- $img := index .app.status.summary.images 0 -}}
            {{- $tag := "" -}}
            {{- if contains ":" $img -}}
              {{- $tag = (split ":" $img )._1 -}}
            {{- end -}}

            {
              "name": {{ .app.metadata.name | toJson }},
              "labels": {{ .app.metadata.labels | toJson }},
              "syncPolicy": {{ .app.spec.syncPolicy | toJson }},
              "info": {{ .app.spec.info | toJson }},
              "image": {{ $img | toJson }},
              "release_id": {{ $tag | toJson }},
              "health": {{ .app.status.health.status | toJson }},
              "@timestamp": "{{ $timestamp.Format "2006-01-02T15:04:05Z07:00" }}",
              "origin": "argocd"
            }

  trigger.on-all: |
    - when: app.status.operationState.phase == 'Succeeded'
      send: [es]
    - when: app.status.operationState.phase == 'Unknown'
      send: [es]
    - when: app.status.operationState.phase == 'Error'
      send: [es]
    - when: app.status.operationState.phase == 'Failed'
      send: [es]
    - when: app.status.health.status == 'Degraded'
      send: [es]
    - when: app.status.operationState.phase == 'Running'
      send: [es]
    - when: app.status.health.status == 'Healthy'
      send: [es]
    - when: true
      send: [es]

  subscriptions: |
    - recipients:
        - es
      triggers:
        - on-all
