name: Deploy to prod

on:
  workflow_dispatch:
    inputs:
      cr:
        description: 'ServiceNow change request number'
        type: string
        required: true
        default: 'CHR1234'
      release_note:
        description: 'Confluence link to release notes'
        type: string
        required: true
        default: 'https://confluence.odido.nl/release_note.html'
      jira_release:
        description: 'Jira release'
        type: string

jobs:
    generate-release-tag:
        uses: ./.github/workflows/generate-release-tag.yaml
        secrets: inherit
    
    build-publish-docker:
        needs: generate-release-tag
        runs-on: ubuntu-latest
        steps:
        - name: Print release tag
          run: echo "Release Tag = ${{ needs.generate-release-tag.outputs.release_tag}}"

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/glow-portals:${{ needs.generate-release-tag.outputs.release_tag }}
        
        - name: Pass release_tag to next job
          run: echo "release_tag=${{ needs.generate-release-tag.outputs.release_tag }}" >> "$GITHUB_OUTPUT"
    
    chart-tagger:
        needs: [ generate-release-tag, build-publish-docker ]
        runs-on: ubuntu-latest
        steps:
            - name: Dispatch chart tagger event
              run: |
                echo "release_tag=${{ needs.generate-release-tag.outputs.release_tag }}"
                # curl -X POST \
                #     -H "Authorization: Bearer ${{ secrets.CLASSIC_PAT_CROSS_REPO }}" \
                #     -H "Accept: application/vnd.github+json" \
                #     https://api.github.com/repos/vkirankumar/portal-glow-mock-helm/dispatches \
                #     -d '{
                #         "event_type": "helm_chart_image_tag_update",
                #         "client_payload": {
                #         "release_tag": "${{ needs.generate-release-tag.outputs.release_tag }}",
                #         "chr": "${{ inputs.cr }}",
                #         "release_note": "${{ inputs.release_note }}"
                #         }
                #     }'

    finalize:
        runs-on: ubuntu-latest

        if: success() || failure()
        needs: [ generate-release-tag, build-publish-docker, chart-tagger ]
        steps:

        - name: Gather workflow metadata
          run: |
            echo "workflow=${{ github.workflow }}" >> $GITHUB_OUTPUT
            echo "run_id=${{ github.run_id }}" >> $GITHUB_OUTPUT
            echo "run_number=${{ github.run_number }}" >> $GITHUB_OUTPUT
            echo "actor=${{ github.actor }}" >> $GITHUB_OUTPUT
            echo "ref=${{ github.ref }}" >> $GITHUB_OUTPUT
            echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT

        - name: Fetch job results
          uses: actions/github-script@v7
          with:
            script: |
                const runId = context.runId;
                const { data } = await github.rest.actions.listJobsForWorkflowRun({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    run_id: runId
                });

                const jobData = data.jobs.slice(0, jobs.length - 1);
                const jobs = jobData.map(j => ({
                    name: j.name,
                    status: j.status,
                    conclusion: j.conclusion,
                    started_at: j.started_at,
                    completed_at: j.completed_at
                }));

                console.log(JSON.stringify(jobs, null, 2));


            