name: Deploy to prod

# Controls when the workflow will run
on:
  # Triggers the workflow every 5 minutes
  # schedule:
  #   - cron: "*/5 * * * *"  # Every 5 minutes

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      cr:
        description: 'ServiceNow change request number'
        type: string
        required: true
      release_note:
        description: 'Confluence link to release notes'
        type: string
        required: true
      jira_release:
        description: 'Jira release'
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    generate-release-tag:
        uses: ./.github/workflows/generate-release-tag.yaml
        secrets: inherit
    
    docker:
        needs: generate-release-tag
        runs-on: ubuntu-latest
        steps:
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: vkirankumar/glow-portals:${{ needs.generate-release-tag.outputs.release_tag}}

        - name: Print release tag
          run: echo "Release Tag = ${{ needs.generate-release-tag.outputs.release_tag}}"