name: Deploy to prod

on:
  workflow_dispatch:
    inputs:
      cr:
        description: "ServiceNow change request number"
        type: string
        required: true
        default: "CHR1234"
      release_note:
        description: "Confluence link to release notes"
        type: string
        required: true
        default: "https://confluence.odido.nl/release_note.html"
      jira_release:
        description: "Jira release"
        type: string

jobs:
  generate-release-tag:
    uses: ./.github/workflows/generate-release-tag.yaml
    secrets: inherit

  notify-release-tag-gen-finished:
    if: success() || failure() || cancelled()
    uses: ./.github/workflows/notify-events-new.yaml
    needs: generate-release-tag
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag}}
      title: "CD: ${{ github.repository }}: <b>Release tag generation finished.</b>"
      message: "<b>PROD Deployment:</b> Release tag generation finished with state <b>${{ needs.generate-release-tag.result }}.</b>"
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}

  build-publish-docker:
    needs: generate-release-tag
    runs-on: ubuntu-latest
    steps:
      - name: Print release tag
        run: echo "Release Tag = ${{ needs.generate-release-tag.outputs.release_tag}}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/glow-portals:${{ needs.generate-release-tag.outputs.release_tag }}

      - name: Pass release_tag to next job
        run: echo "release_tag=${{ needs.generate-release-tag.outputs.release_tag }}" >> "$GITHUB_OUTPUT"

  notify-build-publish-docker-finished:
    if: success() || failure() || cancelled()
    uses: ./.github/workflows/notify-events-new.yaml
    needs: [generate-release-tag, build-publish-docker]
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag }}
      title: "CD: ${{ github.repository }}: <b>Build publish to docker finished.</b>"
      message: "<b>PROD Deployment:</b> Build publish to docker finished with state <b>${{ needs.build-publish-docker.result }}.</b>"
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}

  chart-tagger:
    needs: [generate-release-tag, build-publish-docker]
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch chart tagger event
        run: |
          echo "release_tag=${{ needs.generate-release-tag.outputs.release_tag }}"
          curl -X POST \
              -H "Authorization: Bearer ${{ secrets.CLASSIC_PAT_CROSS_REPO }}" \
              -H "Accept: application/vnd.github+json" \
              https://api.github.com/repos/vkirankumar/portal-glow-mock-helm/dispatches \
              -d '{
                  "event_type": "helm_chart_image_tag_update",
                  "client_payload": {
                  "release_tag": "${{ needs.generate-release-tag.outputs.release_tag }}",
                  "chr": "${{ inputs.cr }}",
                  "release_note": "${{ inputs.release_note }}"
                  }
              }'

  notify-chart-tagger-finished:
    if: success() || failure() || cancelled()
    uses: ./.github/workflows/notify-events-new.yaml
    needs: [generate-release-tag, chart-tagger]
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag }}
      title: "CD: ${{ github.repository }}: <b>Chart tagger finished.</b>"
      message: "<b>PROD Deployment:</b> Chart tagger finished with state <b>${{ needs.chart-tagger.result }}.</b>"
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}

  port-logs:
    if: success() || failure() || cancelled()
    needs: [generate-release-tag, build-publish-docker, chart-tagger]
    uses: ./.github/workflows/post-logs-to-elastic.yaml
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag}}
    secrets:
      ELASTIC_HOST: ${{ secrets.ELASTIC_HOST }}
      ELASTIC_KEY: ${{ secrets.ELASTIC_KEY }}

  notify-port-logs-finished:
    if: success() || failure() || cancelled()
    uses: ./.github/workflows/notify-events-new.yaml
    needs: [generate-release-tag, port-logs]
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag }}
      title: "CD: ${{ github.repository }}: <b>Port logs finished.</b>"
      message: "<b>PROD Deployment:</b> Port logs finished with state <b>${{ needs.port-logs.result }}.</b>"
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}

  notify-job-status:
    if: success() || failure() || cancelled()
    #uses: ./.github/workflows/notify-events.yaml
    uses: ./.github/workflows/notify-events-new.yaml
    needs: [generate-release-tag, build-publish-docker, chart-tagger, port-logs]
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag}}
      #notfication_summary: "[BUILD-PUBLISH-IMAGE] React Portals <b>PROD</b> deployment"
      title: "CD: ${{ github.repository }}: <b>Deployment Final Status.</b>"
      message: "[BUILD-PUBLISH-IMAGE] React Portals <b>PROD</b> deployment state: ${{ jobs.state}}"
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
