name: Deploy to prod

# Controls when the workflow will run
on:
  # Triggers the workflow every 5 minutes
  # schedule:
  #   - cron: "*/5 * * * *"  # Every 5 minutes

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      cr:
        description: 'ServiceNow change request number'
        type: string
        required: true
      release_note:
        description: 'Confluence link to release notes'
        type: string
        required: true
      jira_release:
        description: 'Jira release'
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    generate-release-tag:
        uses: ./.github/workflows/generate-release-tag.yaml@main
        secrets: inherit
    
    build:
        runs-on: ubuntu-latest
        needs: generate-release-tag
        strategy:
            matrix:
                node-version: [22.x]
        steps:
            # - uses: actions/checkout@v6

            # - name: Setup NodeJS ${{ matrix.node-version }}
            #     uses: actions/setup-node@v4
            #     with:
            #         node-version: ${{ matrix.node-version }}
            #         cache: 'npm'

            - name: Print release tag
              run: echo "Release Tag = ${{ needs.generate-release-tag.outputs.release_tag}}"