name: Build and deploy a Docker image

on:
  workflow_call:
    inputs:
      helm_env:
        type: string
        required: true
        description: "Helm Chart Environment"

jobs:
  generate-release-tag:
    uses: ./.github/workflows/generate-release-tag.yaml
    secrets: inherit

  notify-deployment-start:
    if: ${{ inputs.helm_env == 'agile' }}
    needs: generate-release-tag
    uses: ./.github/workflows/notify-events-new.yaml
    with:
      state: "running"
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag}}
      title: "<b>Deployment Started.</b>"
      message: "<b>React Portal Deployment started in ${{ inputs.helm_env}} environment.</b>"
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}

  build-publish-docker:
    needs: generate-release-tag
    runs-on: ubuntu-latest
    steps:
      - name: Print release tag
        run: echo "Release Tag = ${{ needs.generate-release-tag.outputs.release_tag}}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/glow-portals:${{ needs.generate-release-tag.outputs.release_tag }}

      - name: Pass release_tag to next job
        run: echo "release_tag=${{ needs.generate-release-tag.outputs.release_tag }}" >> "$GITHUB_OUTPUT"

  chart-tagger:
    needs: [generate-release-tag, build-publish-docker]
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch chart tagger event
        run: |
          echo "release_tag=${{ needs.generate-release-tag.outputs.release_tag }}"
          curl -X POST \
              -H "Authorization: Bearer ${{ secrets.CLASSIC_PAT_CROSS_REPO }}" \
              -H "Accept: application/vnd.github+json" \
              https://api.github.com/repos/vkirankumar/portal-glow-mock-helm/dispatches \
              -d '{
                  "event_type": "helm_chart_image_tag_update",
                  "client_payload": {
                  "release_tag": "${{ needs.generate-release-tag.outputs.release_tag }}",
                  "chr": "${{ inputs.cr }}",
                  "release_note": "${{ inputs.release_note }}"
                  }
              }'

  port-logs:
    if: always()
    needs: [generate-release-tag, build-publish-docker, chart-tagger]
    uses: ./.github/workflows/post-logs-to-elastic.yaml
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag}}
      helm_env: ${{ inputs.helm_env }}
    secrets:
      ELASTIC_HOST: ${{ secrets.ELASTIC_HOST }}
      ELASTIC_KEY: ${{ secrets.ELASTIC_KEY }}
      ELASTIC_INDEX: ${{ secrets.ELASTIC_INDEX }}

  workflow-summary:
    name: Compute overall workflow state
    runs-on: ubuntu-latest
    needs: [generate-release-tag, build-publish-docker, chart-tagger, port-logs]
    if: always()
    outputs:
      state: ${{ steps.overall.outputs.state }}
    steps:
      - id: overall
        shell: bash
        run: |
          RESULTS="${{ join(needs.*.result, ',') }}"
          echo "Results: $RESULTS"

          if echo "$RESULTS" | grep -q "failure"; then
            echo "state=failure" >> $GITHUB_OUTPUT
          elif echo "$RESULTS" | grep -q "cancelled"; then
            echo "state=cancelled" >> $GITHUB_OUTPUT
          else
            echo "state=success" >> $GITHUB_OUTPUT
          fi

  notify-workflow-status:
    if: ${{ always() && inputs.helm_env == 'agile' }}
    name: notify overall workflow result
    needs:
      [
        workflow-summary,
        generate-release-tag,
        build-publish-docker,
        chart-tagger,
        port-logs,
      ]
    uses: ./.github/workflows/notify-events-new.yaml
    with:
      release_tag: ${{ needs.generate-release-tag.outputs.release_tag}}
      state: ${{ needs.workflow-summary.outputs.state }}
      title: "<b>Deployment completed.</b>"
      message: >
        Workflow: ${{ github.workflow }}
        Run: ${{ github.run_id }}
        Actor: ${{ github.triggering_actor || github.actor }}
        Result:
        generate-release-tag=${{ needs.generate-release-tag.result }},
        build-publish-docker=${{ needs.build-publish-docker.result }},
        chart-tagger=${{ needs.chart-tagger.result }},
        port-logs=${{ needs.port-logs.result }}
    secrets:
      TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
