name: Notify events

on:
  workflow_call:
    inputs:
      release_tag:
        description: 'The unique release tag'
        type: string
        required: true
      job_status:
        description: 'Status of the current job'
        type: choice
        options: 
        - STARTED
        - FAILED
        - SUCCESS
        required: true
        default: 'STARTED'
    secrets:
      TEAMS_WEBHOOK:
        required: true

jobs:
  port-job-logs-to-elastic:
    runs-on: ubuntu-latest

    steps:
    - name: Notify dedicated teams channel
      uses: jdcargile/ms-teams-notification@v1.4
      with:
        github-token: ${{ github.token }}
        ms-teams-webhook-uri: ${{ secrets.TEAMS_WEBHOOK }}
        notification-summary: Pipeline with release-id '${{ github.commit_id }}' started by '${{ github.actor }}'.
        notification-color: 17a2b8
        timezone: Europe/Amsterdam
        verbose-logging: true

                

            