name: Notify events and port logs to elastic

on:
  workflow_call:
    inputs:
      release_tag:
        description: 'The unique release tag'
        type: string
        required: true

jobs:
  notify-job-status:
    runs-on: ubuntu-latest
    steps:

    # - name: Gather workflow metadata
    #   run: |
    #     echo "workflow=${{ github.workflow }}" >> $GITHUB_OUTPUT
    #     echo "run_id=${{ github.run_id }}" >> $GITHUB_OUTPUT
    #     echo "run_number=${{ github.run_number }}" >> $GITHUB_OUTPUT
    #     echo "actor=${{ github.actor }}" >> $GITHUB_OUTPUT
    #     echo "ref=${{ github.ref }}" >> $GITHUB_OUTPUT
    #     echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT

    - name: Fetch job results
      env:
          ELASTIC_INDEX: "portals-glow-cicd"
      uses: actions/github-script@v7
      with:
        script: |
             async function main() {
                    const runId = context.runId;
                    const { data } = await github.rest.actions.listJobsForWorkflowRun({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        run_id: runId
                    });

                    const jobData = data.jobs.slice(0, data.jobs.length - 1);
                    const jobs = jobData.forEach(job => {
                            const body = {
                                "@timestamp": job.completed_at,
                                name: job.name,
                                status: job.status,
                                conclusion: job.conclusion,
                                started_at: job.started_at,
                                completed_at: job.completed_at,
                                owner: context.repo.owner,
                                repo: context.repo.repo,
                                run_id: context.runId,
                                release_id: "${{ inputs.release_tag }}",
                                actor: "${{ github.actor }}"
                            }
                            const elastic_url = `${{ secrets.ELASTIC_HOST }}/$ELASTIC_INDEX/_doc`;
                            console.log("Posting to URL = " + elastic_url);
                            console.log("Request : " + body);
                            const response = await fetch(elastic_url, {
                                method: 'POST',
                                headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `ApiKey ${{ secrets.ELASTIC_KEY }}`
                                },
                                body: JSON.stringify(body)
                            });

                            const data = await response.json();
                            console.log("Response : " + data);
                    });
                }
                main().catch(err => {
                    core.setFailed(err.message);
                });

            # console.log(JSON.stringify(jobs, null, 2));

            