name: Notify events and port logs to elastic

on:
  workflow_call:
    inputs:
      release_tag:
        description: 'The unique release tag'
        type: string
        required: true

jobs:
  notify-job-status:
    runs-on: ubuntu-latest
    steps:

    - name: Gather workflow metadata
      run: |
        echo "workflow=${{ github.workflow }}" >> $GITHUB_OUTPUT
        echo "run_id=${{ github.run_id }}" >> $GITHUB_OUTPUT
        echo "run_number=${{ github.run_number }}" >> $GITHUB_OUTPUT
        echo "actor=${{ github.actor }}" >> $GITHUB_OUTPUT
        echo "ref=${{ github.ref }}" >> $GITHUB_OUTPUT
        echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT

    - name: Fetch job results
      uses: actions/github-script@v7
      with:
        script: |
            const runId = context.runId;
            const { data } = await github.rest.actions.listJobsForWorkflowRun({
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: runId
            });

            const jobData = data.jobs.slice(0, data.jobs.length - 1);
            const jobs = jobData.map(j => ({
                name: j.name,
                status: j.status,
                conclusion: j.conclusion,
                started_at: j.started_at,
                completed_at: j.completed_at,
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: context.runId,
                release_id: ${{ inputs.release_tag }}
            }));

            console.log(JSON.stringify(jobs, null, 2));