name: Notify events

on:
  workflow_call:
    inputs:
      notfication_summary:
        description: 'Job summary to be sent with the notification.'
        type: string
        required: true
      initial-state:
        description: 'Nofity initial state'
        type: string
        default: 'false'
        required: true
      release_tag:
        description: 'The unique release tag'
        type: string
        required: true
    secrets:
      TEAMS_WEBHOOK:
        required: true

jobs:
  port-job-logs-to-elastic:
    runs-on: ubuntu-latest

    steps:
    - name: Compute worflow state
      id: compute
      env:
          RELEASE_TAG: ${{ inputs.release_tag }}
          ACTOR: ${{ github.actor }}
          STATE: ${{ inputs.initial-state }}
      uses: actions/github-script@v7
      with:
        script: |
                  async function main() {
                          const runId = context.runId;
                          const { data } = await github.rest.actions.listJobsForWorkflowRun({
                              owner: context.repo.owner,
                              repo: context.repo.repo,
                              run_id: runId
                          });

                          // Exclude skipped and notify job logs
                          const jobs = data.jobs.filter(job => !!job.conclusion && job.conclusion !== 'skipped');
                          let status = jobs.some(job => job.conclusion === 'failure');
                          core.setOutput("tone", (status && process.env.STATE === 'false') ? 'FF2104' : '07B11E');                      
                      }
                    main().catch(err => {
                        core.setFailed(err.message);
                    });
             

    - name: Notify dedicated teams channel
      uses: jdcargile/ms-teams-notification@v1.4
      with:
        github-token: ${{ github.token }}
        ms-teams-webhook-uri: ${{ secrets.TEAMS_WEBHOOK }}
        notification-summary: ${{ inputs.notfication_summary }}
        # notification-summary: React Portals PROD deployment with release-id '${{ inputs.release_tag }}' initiated by '${{ github.actor }} has ${{ inputs.job_status }}'.
        # notification-summary: '<!DOCTYPE html>
        #                           <html>
        #                             <title>Production Release</title>
        #                             <body>
        #                               <ul>
        #                                 <li><b>Release Id:   </b>${{ inputs.release_tag }}</li>
        #                                 <li><b>Change Request Number: </b>Test</li>
        #                                 <li><b>Release Notes: </b>Test</li>
        #                                 <li><b>Started By: </b>${{ github.actor }}</li>
        #                                 <li><b>Started At: </b>Test</li>
        #                               <ul>
        #                             </body>
        #                           </html>'
        notification-color: ${{ steps.compute.outputs.tone }}
        timezone: Europe/Amsterdam
        verbose-logging: true

                

            