name: Notify events

on:
  workflow_call:
    inputs:
      notfication_summary:
        description: 'Job summary to be sent with the notification.'
        type: string
        required: true
    secrets:
      TEAMS_WEBHOOK:
        required: true

jobs:
  port-job-logs-to-elastic:
    runs-on: ubuntu-latest

    steps:
    - name: Notify dedicated teams channel
      uses: jdcargile/ms-teams-notification@v1.4
      with:
        github-token: ${{ github.token }}
        ms-teams-webhook-uri: ${{ secrets.TEAMS_WEBHOOK }}
        notification-summary: ${{ inputs.notfication_summary }}
        # notification-summary: React Portals PROD deployment with release-id '${{ inputs.release_tag }}' initiated by '${{ github.actor }} has ${{ inputs.job_status }}'.
        # notification-summary: '<!DOCTYPE html>
        #                           <html>
        #                             <title>Production Release</title>
        #                             <body>
        #                               <ul>
        #                                 <li><b>Release Id:   </b>${{ inputs.release_tag }}</li>
        #                                 <li><b>Change Request Number: </b>Test</li>
        #                                 <li><b>Release Notes: </b>Test</li>
        #                                 <li><b>Started By: </b>${{ github.actor }}</li>
        #                                 <li><b>Started At: </b>Test</li>
        #                               <ul>
        #                             </body>
        #                           </html>'
        notification-color: FF2104
        timezone: Europe/Amsterdam
        verbose-logging: true

                

            